body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecf0f1; /* Celeste */
    color: #34495e; /* Azul oscuro para mayor legibilidad */
}

header {
    background-color: #3498db; /* Celeste más oscuro */
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

header img {
    width: 50px; /* Reduje el tamaño del icono */
    height: auto;
    margin-right: 20px;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.promo-section {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #06d85d; /* Cambiado a verde (#2ecc71) */
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.download-button:hover {
    background-color: #27ae60; /* Cambiado el color de hover a un tono más oscuro de verde (#27ae60) */
}

/* Otras reglas de estilo... */

footer {
    background-color: #3498db;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.slider {
    width: 80%;
    margin: 0 auto;
}

.slider img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
